// Place all the styles related to the api/follows controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.follow-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-follows-container {
  width: 600px;
}

.follow-title {
  font-size: 18px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.follow {
  display: flex;
  border: 1px solid rgba(0,0,0,.09);
  height: 70px;
  margin: 0 0 10px;
  width: 600px;
  font-size: 18px;
  padding: 15px 0;
}

.follow-items {
  display: flex;
  align-items: center;
  margin-right: auto;
  padding-left: 10px;
}

.follow-username {
  // margin: 10px;
  padding: 5px;
}

.no-follows {
  font-size: 18px;
}

.follow-profile {
  display: flex;
  flex-direction: column;
  // align-items: center;
  justify-content: space-between;
  padding: 10px;
  // text-align: left;
}

.follow-profile-pic-icon {
  font-size: 70px;
  margin: 10px;
  color: lightgrey;
}

.follow-btn {
  // border-radius: 2px;
  font-size: 16px;
  // padding: 0 12px;
  height: 20px;
  width: 40px;
  // border-top: 1px solid #02A87C;
  // border-right: 1px solid #02A87C;
  // border-bottom: 1px solid #02A87C;
  // border-left: 1px solid #02A87C;
  color: #02A87C;
  // margin: 5px 0px;
  padding: 5px;
}