.navBar {
  display: flex;
  padding: 0 200px;
  height: 65px;
  align-items: center;
  box-shadow: 0px 0px 10px rgba(200,200,200,0.4);
  justify-content: space-between;
}

.logo {
  font-size: 31px;
  font-weight: bold;
  padding: 10px;
}

.login-signup{
  color: #02A87C;
  margin-left: auto;
  display: flex;
  align-items: center;
}

.search-container {
  position: relative;
}

.search-bar {
  border-radius: 5px;
  color: black;
}

.search-submit-btn {
  position: absolute;
  bottom: 0px;
  right: 5px;
  color: black;
}

.navbar-notifications {
  color: black;
  margin-left: 16px;
}

.navbar-signin {
  margin: 0px 16px;
  font-size: 16px;
}

.navbar-signup {
  border-radius: 4px;
  font-size: 16px;
  padding: 0 16px;
  height: 37px;
  line-height: 37px;
  border-top: 1px solid #02A87C;
  border-right: 1px solid #02A87C;
  border-bottom: 1px solid #02A87C;
  border-left: 1px solid #02A87C;
}

.logged-in-navbar {
  margin-left: auto;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.navbar-name {
  font-size: 20px;
  font-weight: bold;
}

.navbar-profile {
  display: flex;
  font-size: 35px;
  color: lightgrey;
  margin: auto 15px;
  justify-content: center;
}

.logout-button {
  border-radius: 4px;
  font-size: 16px;
  padding: 0 16px;
  height: 37px;
  line-height: 37px;
  border-top: 1px solid #02A87C;
  border-right: 1px solid #02A87C;
  border-bottom: 1px solid #02A87C;
  border-left: 1px solid #02A87C;
  color: #02A87C;
}