// Place all the styles related to the api/responses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/// Create Response Form ///
.response-form-container{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.response-form{
  position: relative;
  overflow: hidden;
}

.response-form-input{
  font-size: 18px;
  width: 650px;
  height: 40px;
  border: 1px solid #e6e6e6;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  padding: 15px 20px;
  border-radius: 2px;
  -webkit-transition: height 0.2s ease-in-out;
  transition: height 0.2s ease-in-out;
}

.response-form-submit-btn{
  border-radius: 4px;
  font-size: 16px;
  padding: 0 16px;
  height: 37px;
  border-top: 1px solid #02A87C;
  border-right: 1px solid #02A87C;
  border-bottom: 1px solid #02A87C;
  border-left: 1px solid #02A87C;
  color: #02A87C;
  position: absolute;
  top: 15px;
  right: 25px;
}

/// RESPONSE ITEMS ///
.response-items-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.response-items{
  border: 1px solid #e6e6e6;
  margin: 15px 0px;
  width: 650px;
  height: 200px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  padding: 15px 20px;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.response-items-nav{
  display: flex;
  justify-content: space-between;
}

.response-items-profile{
  display: flex;
  align-items: center;
}

.response-items-profile-pic-icon{
  font-size: 36px;
  padding-right: 5px;
}

.response-items-info{
  display: flex;
  flex-direction: column;
}

.response-items-author{
  font-size: 16px;
}

.response-items-create-date{
  font-size: 15px;
  color: rgba(0, 0, 0, 0.54);
}

.response-items-delete{
  font-size: 15px;
}

.response-items-body{
  font-size: 21px;
  color: rgba(0, 0, 0, 0.84);
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  word-wrap: break-word;
  text-overflow: ellipsis;
}