.search-story-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.search-text{
  border-bottom: 1px solid rgba(0,0,0,.15);
  width: 700px;
  height: 70px;
  font-size: 50px;
  margin-top: 50px;
  margin-bottom: 10px;
  color: black;
}

::placeholder {
  color: black;
}

.search-links {
  margin: 20px 0;
}

.search-story-txt {
  font-size: 15px;
  margin: 10px 10px 10px 0;
  text-align: left;
}